@import "tailwindcss";

#headerul li{
    transition: 0.5s;
}
#headerul li:hover{
    color: greenyellow;
    text-shadow: 0 0 10px darkgreen, 0 0 20px darkgreen, 0 0 40px darkgreen;

}
#headerbut {
    transition: 0.5s;
}
#headerbut:hover{
    background: darkgreen;
    color: greenyellow;
    text-shadow: 0 0 10px darkgreen, 0 0 20px darkgreen, 0 0 40px darkgreen;
}
@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fade-in {
    animation: fade-in 0.3s ease-out;
}
